
table { 
    border-collapse: collapse;
} 
table th {
    text-align: left;
    background-color: darkcyan;
    padding : 4px 6px 4px 8px ;
    font-size: 18px ;
}
table td {
    border: 1px solid bisque;
    padding : 8px 10px ;
}
table tr:nth-child(odd) td {
    background-color: #6EE7B7;
}