
:root{
    --primary: #3B82F6;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.header{
    background-color: var(--primary);
    height: 300px;
    color: white ;    
}

h6{
    float: left ;
    margin-top: 20px;
    margin-left: 30px ;
}

.navbar a{
    float: right;
    margin-right: 30px;
    margin-top: 30px ;;
}

.clearfix ::before, .clearfix ::after{
    content: "";
    display: table;
}
.clearfix ::after{
    clear: both ;
}

.div1{
    text-align: center;
    margin-top: 100px;
}
.div1 h2{
    font-size: 30px;
    margin-top : 40px ;

}
.div1 p{
    margin-top: 20px;
    color: white ;
    ;
}

.container1{
    height: 250px ;
    background-color: white;
}

.column{
    width: 30.33%;
    height: 250px ;
    margin: 1.5%;

    
}
.column h3{
    font-size: 30px ;
    color: #1D4ED8 ;
    margin-top: 30px ;
}

.column p{
    color: #9CA3AF;
    margin-top: 20px;

}
.column button{
    background-color: #3B82F6;
    color: white;
    margin-top: 20px;
    border: none ;
    width: 50px ;
    height: 25px;

}
.col1{
    float: left;
}

.col3{
    float: right;
}

.container3{
    background-color: #60A5FA;
    height: 500px ;
    text-align: center;
}
.div3 h3{
    font-size: 30px ;
    margin-top: 30px;
    text-align: center;
    color: white;
}
.div3 p{
    text-align: center;
    margin-top: 20px ;
    color : #374151

}


.div1 p{
    color: #9CA3AF ;
    margin-top: 20px;
}

.column2{
    width: 15% ;
    height: 250px ;
    border: 1px solid white;
    margin-top: 50px;
    text-align: center;
    float: left;
    
}

.column2 h4{
    font-size: 25px;
    margin-top: 10px;
    color: white ;

}
.column2 p{
    color: #374151 ;
    margin-top: 10px ;
}

.column2 .img2{ 
    width: 150px;
     height: 100px;
    border-radius: 50%;
    margin-top: 25px;
} 

.container4{
    background-color: white;
    height: 500px ;
    text-align: start ;

    
    

}
.div4 {
    text-align: center;
}
.div4 h4{
    font-size: 30px;
    color :#60A5FA ;
    margin-top: 50px;
    
}
.div4 p{
    color: #4B5563 ;
    margin-top: 30px ;
    
} 
.column4{
    width: 100%;
    height: 100px;
    margin: 10% ;
    margin: left ;
    text-align: center;
    
    

}
.column4 h4{
    font-size: 25px;
    margin-top: 10px;
    color: #60A5FA ;
}

.column4 p{
    margin-top: 10px ;
    color: #4B5563  ;
}


.column4 button{
    background-color: #60A5FA;
    border: none;
    font-size: 15px ;
    color: white;
    margin-top: 20px ;
}

.footer{
    margin-bottom: 20px;
    width: 300px;
    height: 200px ;
    
       
}

.container5{
    float: right;
}

nav{
    margin: 15px;
 }
    
   



