.container{
    width : 1080px ;
    /* height : 800px ; */
    margin : 0 auto ;    
}
body{
    font-family: sans-serif;
    background-color: #BFDBFE;
}
h2{
    color: #2563EB;
    text-align: center;
    font-size : 40px ; 
}
table{
    border: 5px inset grey;
    border-collapse: collapse;
    text-align: center;
    padding : 10px 20px ;
    font-size: 30px ; ; 
}
table th{
    padding: 10px 20px 12px 10px ;
    border : 1px solid black ;
}
table td{
    border: 1px solid black ;
    padding: 10px 20px 12px 10px ;
}
table tr:nth-child(even) td {
    background-color: #6EE7B7
    ;
}
