/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root{
	 --odd : #DBEAFE ;
	--even: #BFDBFE ; 
	--color: white ;
	--header-color:#60A5FA;
	--item-background: #6EE7B7;
	--item-border:#047857;
	--hero-background: #F87171;
	--hero-border: #991B1B ;
	--solid-border: #DB2777 ;
	
}
* {
	box-sizing: border-box;
  }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* =============================General class========================== */
body{
	font-family: 'Poppins', sans-serif;
}
a{
	text-decoration: none;
}

.flex{
	display: flex;
	justify-content: space-between;
	 flex-wrap: wrap; 
	
}
.container{
	max-width: 1080px;
	margin: 0 auto;
	
}

.box{
	background-color: var(--item-background);
	height: 90px ; 
	width: 80px ; 
	border: 5px solid var(--item-border);
	margin: 2px auto;
	/* padding: 5px 0 ;  */
	text-align: center ;
	line-height: 80px ;
	border-radius: 5px ; 
}
.hero{
	background-color: var(--hero-background);
	border-color: var(--hero-border);
}
.padding {
	padding : 60px 0px ;
}
h2{
	text-align: center;
	font-size: 35px; 
	margin: 35px 0px 40px 0px ;
	font-weight: bold;
	font-variant: small-caps;
}
.clearfix::before,.clearfix::after{
	content: "";
	display: table;
}
.clearfix::after{
	clear: both; 
}

.item{
	background-color: var(--item-background) ;
	width: 140px ;
	height: 140px ;
	border: 5px solid var(--item-border);
	text-align: center;
	line-height: 140px;
	border-radius: 5px;
}
.flex-container {
	padding: 100px 0 ;
	border-bottom: 2px solid var(--solid-border); 
}

.odd-section{
	background-color: var(--odd);

}
.even-section {
	background-color: var(--even);

}
 /* ===============================header =======================================*/
 .header{
	background-color:var(--header-color) ;
	padding: 30px 50px; 
	color:var(--color);
 }
 h1{
	font-size: 40px;
	font-family:  'Poppins', sans-serif;
	font-family: bold;
} 
h1 a{
	color:var(--color) ;
}
 .header .flex .nav-links a{
	font-size: 35px ; 
	margin-left: 20px;
	
}
.menu{
	color: var(--solid-border) ;
}
.menu-home {
	border-bottom: 2px solid var(--solid-border);
    padding-bottom: 3px;
    color:var(--color);
} 

.btn{
	background-color: var(--color);
	padding: 8px 20px ;
	margin-left: 10px;
	font-size: 14px ;
	font-weight: bold;
	border-radius: 5px;
	border: none ;	
}  
 /* =======================/ float section/==========================================  */


 .position-box{
	 border: 2.5px solid var(--solid-border);
	 width: 30.33% ;
	 margin: 0px 1.5% ;
	 text-align: center;
	 padding : 60px 10px ;	 
 }

.hero-left{
	float: left ;
	padding-right: 30px;
}
.hero-static{
	float: none;
}
.hero-right{
	float: right ;
}

/* ==================Uniquely position Element ==============*/
.unique-positioning{
	background-color: var(--even);
	/* padding: 60px ; */
	
}
.unique-container {
	justify-content: space-around;
	row-gap: 20px;
}
.hero-static{
	position: static;
}
.hero-relative {
	position: relative;
	top: 30px;
	left: 40px ;
}
.box-absolute{
	position: relative;
}
.hero-absolute{
	position: absolute;
	top: 50; 
	left: 60px;
	
}
.box-sticky{
	height: 350px ;
	overflow-y: scroll;	
}
.hero-scroll {
	position: sticky;
	top: 10px ;	
}
.box-sticky p {
	font-size: 20px;
	text-align: justify;
}

/* ===============  Positioing With a Flex =============*/

.box-direction {
	flex-direction: column ;
	align-items: center;
	row-gap: 3px ;
				
}
.box-wrap {
	 row-gap: 10px  ;
	justify-content: space-around;
}	
 
.box-grow{
	gap: 10px;
}
.item-grow{
	flex-grow: 1;
	flex-shrink: 2;
}
.box-gap {
	justify-content: space-around;
	gap: 50px ;
	padding : 100px  0 ;
	border: none;
}

/* Top----------- to -----------bottom  */

.top-nav {
	line-height: 50px;
    width: 110px;
    height: 50px;
    border-radius: 30px;
    background-color: var(--solid-border);
    position: fixed;
    right: -40px;
    bottom: 110px ; 
}
.top-nav i {
    font-size: 20px; 
	padding-left: 20px; 
	text-align: center;
	color: var(--color);
}


/* =============#=footer--section==#======================== */
.footer {
	background-color: var(--header-color);
	padding :30px 50px ;	
}
footer .flex {
	justify-content: center;
	column-gap: 40px ;	
}

footer i {
    font-size: 30px ;
	color: var(--color);
}