html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    background-color: #FEE2E2;
}

.body {
    text-align: center;
}

h1
{
    color: rgb(255, 0, 55);
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
}

   

img{
    height: 300px;
    width: 400px;
    margin: 0 0 20px 20px;

}



 .image1{
    border: 10px  solid #3B82F6;
    

}
.image2{
    border: 10px dashed maroon;
}

.image3 {
    border: 10px dotted rgb(167, 43, 43);
}

.image4 {
    border: 10px double #059669 ;
}

.image5{
    border: 10px  ridge #3B82F6;
}

.image6 {
    border : 10px groove #F59E0B;

}

.image7{
    border: double chocolate;
}

.image8 {
    border-radius: 10px;
}



footer{
    background-color: darkturquoise;
    padding: 30px;
    width: 50%;
    margin: 30px auto;
    border-top: 10px solid maroon;
    border-left:10px solid blueviolet ;
    border-right: 10px solid crimson;
    border-bottom: 10px solid yellowgreen;

    
}

h2{
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

p { color: white ;
    font-size: 20px;
    
   }