/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* 
.root
	-primary-color:#3B82F6; 
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General */

a {
	text-decoration: none;
}

.padding {
    padding : 72px 0 ;
}

/* float  */
.clearfix::before, .clearfix::after{
	content: "" ;
	display: table ;
}

.clearfix::after{
	clear: both ;
}
*{
	box-sizing: border-box;
}


/* header  */
.header {
	background-color: #3B82F6;
	color: white; 
	height: 72px ;
	line-height: 72px;

	
}
.container{
	max-width: 1080px ; 
	margin : 0 auto ; 
	padding: 0 20px ; 
}
.container h1{
	float: left;
	font-size: 30px;
}

.nav{
	float: right;
	

}
.nav a{
    margin-left: 15px ;
	color: white;
	font-size: 25px ;
	
}
 
/*hero section */
.hero{
	text-align: center;
	background-color: #3B82F6 ;
}
.hero h2{
	font-size: 72px;
	color: white ;
	margin-bottom: 20px ;

}

.hero p{
	font-size: 20px ;
	color: #ccc;
}

.article{
	width: 30.33%;
	margin: 1.5% ;
	float: left ;
}

.article-heading{
	font-size: 25px ;
	color: #3B82F6;
	margin-bottom: 15px;
	
}
.article-para{
	font-size: 18px ;
	color: grey;
	/* margin-bottom: 20px; */
}
.btn{
	color: white;
	background-color: #3B82F6 ;
	padding: 8px 15px ;
	margin-top: 20px;
	display: inline-block;
}


.team{
	background-color:#3B82F6;
	text-align: center;
} 
.header1{
	margin-bottom: 20px;
}
.team-heading{
	font-size: 35px;
	color: white;
	margin-top: 60px;

}

.team-para{
	font-size: 20px;
	color:rgb(250, 241, 241);
	margin-top: 15px ;
	
}

.col-1-4{
	width: 22% ;
	margin: 1.5% ;
	
	/* margin-top: 30px; */
	float: left;
	 /* text-align: center; */
	padding: 30px 0;
}
.border{
	border: 1px solid white ;
	 

}

.team-profile img{
	width: 150px;
	border-radius: 50%;
	margin-bottom: 30px ;
	

}

.team-profile h3{
	font-size: 20px;
	/* margin-top: 10px; */
	color: white;

}
.team-profile p{
	font-size: 15px;
	margin-top: 10px;
	color: #ccc ;
}

.article-2{
	text-align: center;
}

.article-2 .team-heading{
	color: #3B82F6 ;
}
.article-2 .team-para{
	color: grey ;
}

.article-image{
	text-align: center;
}

.article-2-2 {
	width: 40% ;
	margin: 5% ;
	float: left ;
	text-align: start;
}
.article-2-2 img{
	width: 400px;
	margin-bottom: 25px;

}
.article-2-2 .article-heading{
	margin-bottom: 20px ;;

}
.article-2-2 .article-para{
	margin-bottom: 10px;
}
.col-2-1{
	text-align: left;
}
.footer{
	padding: 30px 0;
	border-top: 1px solid grey; 
}
.copyright{
	float: left;
	color: grey ;
}
.navigation{
	float: right;
	
}
.navigation i{
	margin-left: 15px;
	color: #3B82F6 ;
}