h2 {
    color : rgb(14, 238, 14) ;
}
body {
    background-color: blue;
}

h1 {text-align: center;
    color : white ;
}

p {
    color: white;
}
h3 { color : white ;
    }


a {
    color : Red ;
}    

div {
        text-align: center;
  }

  .Mail{
      text-align: center;
  }
 

  