
html{
    font-size : 10px ;
}
.container {
    font-size
    : 4px ;
     width : 25vw ; 
     height: 100vh ;
     border : 5px solid black ; 
}
h1 {
    text-align : center;
    /* font-size : 10rem ; */
}
/* #frist{
    font-size: 5em ;
    padding: 5em ;
}
#second{
    font-size: 5rem ;
    padding: 5rem ;
} */
